!!!
%html
  %head
    %title Oe+W Brand Service Demo
    %meta{:charset => "utf-8"}
    %meta{:content => "Oe+W Brand Service Demo", :name => "description"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = scrivito_head_tags
  %body
    = scrivito_body_tags
    = yield